.footer-component {
  padding: 40px 30px;
  background: var(--white);
}

.footer-top {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.footer-top__rigth {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  text-decoration: none;
  font-weight: 600;
  color: var(--blue);
  text-transform: uppercase !important;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
.footer-top__left {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
}
.footer-top__left-about {
  flex-direction: column;
  display: flex;
  text-align: left;
  padding-right: 40px;
  font-size: 12px;
}

.footer-bot {
}

.footer-bot__rigth {
  display: flex;
}
h6 {
  font-size: 12px;
}

@media (min-width: 480px) {
  .footer-top {
    display: flex;
    flex-direction: row;
  }
  .footer-top__rigth {
    width: 20%;
  }
  .footer-top__left {
    display: flex;
    justify-content: space-between;
  }
  .footer-bot {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
